@model MultiShop.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Change Password</h2>
                            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "" }))
                            {

                                @Html.AntiForgeryToken()
                                <div class="form-outline mb-4">
                                    <div class="col-md-10">
                                        <label class="form-label" for="form3Example1cg">Old Password</label>
                                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div class="form-outline mb-4">
                                    <div class="col-md-10">
                                        <label class="form-label" for="form3Example1cg">New Password</label>
                                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div class="form-outline mb-4">
                                    <div class="col-md-10">
                                        <label class="form-label" for="form3Example1cg">Reset New Password</label>
                                        @Html.EditorFor(model => model.ConNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ConNewPassword, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                

                                
                                <div class="d-flex justify-content-center">
                                    <button type="submit" name="submitAccount" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                        Change Password
                                    </button>
                                </div>


                                
                            }



                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

